<header>
	<div class="breadcrumb"><!--头部杭电标志图片-->教务系统</div>
	<div class="container-head">
		<div class="top">
			<p><%= @user.no%>
				欢迎你!&nbsp;|&nbsp;意见反馈&nbsp;|&nbsp;<a href="/logins/login">注销登陆</a>&nbsp;|&nbsp;<%= Time.now %></p>							
		</div>
	</div>	
</header>